.grid {
  display: flex;
  gap: 1rem;
}

.column {
  display: flex;
  flex-flow: column;
  color: var(--color-fg);
  align-items: center;
}

.columnHeader {
  flex-basis: 2em;
}

.gutter .columnHeader .block {
  color: var(--color-fg-accent-sec);
}

.gutter .block,
.columnHeader .block {
  color: var(--color-fg-muted);
}

.columnHeader .activeColumn,
.gutter .activeLine {
  color: var(--color-fg-accent);
  font-weight: bold;
}
.activeColumn .activeLine {
  background: var(--color-fg-accent);
  color: var(--color-bg);
  font-weight: bold;
}

.activeLine,
.activeColumn {
  /* font-weight: bold; */
}
