.grid {
  display: flex;
  gap: 1rem;
}

.column {
  display: flex;
  flex-flow: column;
  color: var(--color-fg);
}

.columnHeader {
  flex-basis: 2em;
}

.column:not(.gutter) .block {
  /* color: var(--color-fg); */
}

.gutter .block,
.columnHeader .block {
  color: var(--color-fg-muted);
}

.columnHeader .activeColumn,
.gutter .activeLine,
.activeColumn .activeLine {
  color: var(--color-fg-accent);
}

.activeLine,
.activeColumn {
  font-weight: bold;
}
