.grid {
  display: flex;
  gap: 1rem;
}

.column {
  display: flex;
  flex-flow: column;
  color: var(--color-fg);
  align-items: center;
}

.columnHeader {
  flex-basis: 1.5rem;
}

.gutter .columnHeader .block {
  color: var(--color-fg-accent-sec);
}

.block.empty,
.gutter .block,
.columnHeader .block {
  color: var(--color-fg-muted);
}

.columnHeader .activeColumn,
.gutter .activeLine {
  color: var(--color-fg-accent);
  font-weight: bold;
}
.activeColumn .activeLine {
  background: var(--color-fg-accent);
  color: var(--color-bg);
  font-weight: bold;
}

.playhead,
.playheadLine {
  background: var(--color-bg-muted);
  font-weight: bold;
}

.playhead {
  width: 70%;
  position: absolute;
  z-index: 0;
}

*:not(.playhead) {
  z-index: 10;
}

.gutter .playheadLine {
  color: var(--color-fg);
}
