.line {
  width: 100%;
  background: #27232f;
  display: grid;
  grid-template-columns: 2em 2em;
  justify-items: end;
  gap: 1rem;
  align-items: center;
  /* margin-bottom: 0.5rem; */
  /* border-bottom: var(--border); */
  /* opacity: 0.6; */
  color: var(--color-fg-muted);
}

.lineActive {
  border-color: var(--color-border-active);
  color: var(--color-fg-accent);
}

code {
  font-size: 0.8em;
}
