:root {
  --color-bg: #24202c;
  --color-fg: #f4cde9;
  --color-fg-accent: #f99286;
  --color-fg-accent-sec: #b6377d;
  --color-fg-muted: #6f5a71;
  --color-bg-accent: #6f5a71;
  --color-bg-accent-sec: #ad7fa8;
  --color-bg-muted: #27232f;
  --color-border: var(--color-bg-accent);
  --color-border-accent: var(--color-fg-accent-sec);
  --color-border-active: var(--color-border-accent);

  --app-height: 100vh;
  --app-width: calc(100vh / 3 * 4);
  --app-padding: 1rem;
  --section-margin: 1rem;
  --section-padding: 1rem;

  --border: solid 1px var(--color-border);
  --border-radius: 1em;

  font-size: calc(var(--app-height) * 0.04);
}

body {
  /* background: var(--color-bg-muted); */
  background: black;

  /* make text unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre {
  font-size: 0.6em;
  overflow: hidden;
  margin: 0;
}

.App {
  height: var(--app-height);
  width: var(--app-width);
  overflow: hidden;

  margin: 0 auto;
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: monospace, system-ui;

  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 80% 20%;
  grid-template-areas:
    "header header"
    "main side";
}

/* .footer, */
/* .header, */
/* .section { */
.main {
  /* border: solid 1px var(--color-border-accent); */
  /* border-radius: var(--border-radius); */
  overflow: hidden;
  padding: 2rem;
}

.section {
  /* margin: var(--section-margin); */
  padding: var(--section-padding);

  h3,
  h2,
  h1 {
    margin-top: 0;
  }
}

.header {
  /* flex: 0 0 5%; */
  grid-area: header;
  display: flex;
  align-items: center;
}

.tabs {
  display: flex;
  gap: 1em;
  font-size: 0.8em;
  align-items: center;
  color: var(--color-fg-muted);
  .viewActive {
    color: var(--color-fg-accent);
    font-weight: bold;
  }
}

.main {
  /* flex: 0 1 100%; */
  grid-area: main;
}

.mainTitle {
  margin-bottom: 1rem;
}

.side {
  /* flex: 0 0 5%; */
  grid-area: side;
}

.sideContent {
  font-size: 0.8rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
